body {
    background-color: yellow;
    animation: 5000ms ease-in-out infinite color-change;
    background-image: url(https://media.tenor.com/ta7l_d0QGnsAAAAi/yum-yummy.gif);
    color: red;
  }
  
  @keyframes color-change {
    0% {
      background-color: teal;
    }
    20% {
      background-color: gold;
    }
    40% {
      background-color: indianred;
    }
    60% {
      background-color: violet;
    }
    80% {
      background-color: green;
    }
    100% {
      background-color: teal;
    }
  }